---
---

@import "{{ site.theme }}";

// style checkbox: bold when checked
:checked + span {
    font-weight: bold;
 }

 // style checkbox: hide box
 input[type=checkbox] {
    display: none;
 }

 // style checkbox: same color as link
 label {
    color:#0F79D0;
 }
